@using CapaDato.Models
@model CapaDato.Models.Tarea

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Tarea</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaEstimadaEntrega)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaEstimadaEntrega)
                </dd>

                <dt>
                    Prioridad
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prioridad.Nombre)
                </dd>

                <dt>
                    Estado
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado.Nombre)
                </dd>

                <dt>
                    Categoría
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categoria.Nombre)
                </dd>

                <dt>
                    Responsable
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UsuarioAsignado.Nombre)
                </dd>

                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Volver", "Index", "Tarea", htmlAttributes: new { @class = "btn btn-outline-danger" })
                </p>

            </dl>
        </div>

        <div class="col-md-4">
            @Html.Partial("_AddComentario", new Comentario { TareaId = Model.Id })

            <article class="card shadow my-1">
                <div class="card-header">
                    <p class="d-inline-block mb-0">
                        <strong>@Html.DisplayFor(model => model.UsuarioPropietario.Nombre)</strong> -
                        <small>@Html.DisplayFor(model => model.FechaCreacion)</small>
                    </p>
                </div>
                <div class="card-body">
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                </div>
            </article>

            <h3>Comentarios</h3>
            @foreach (var comentario in Model.Comentarios.OrderByDescending(x => x.FechaComentario))
            {
                <article class="card shadow my-2 mb-0">
                    <div class="card-header">
                        <p class="d-inline-block">
                            <strong>@comentario.Usuario.Nombre</strong> -
                            <small>@comentario.FechaComentario</small>
                        </p>
                    </div>
                    <div class="card-body">
                        <p>@comentario.ComentarioTxt</p>
                    </div>
                </article>
            }
        </div>

    </div>
</div>
