@model CapaDto.DTO.IndexTareaVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Tarea", "Create", "Tarea", htmlAttributes: new { @class = "btn btn-primary"})
</p>

@if (Model.Tareas.Count() == 0)
{
    <h2>No hay registros</h2>
}
else
{
    <div class="my-3 border-bottom"></div>

    <table class="table">
        <tr>
            <th>
                Título
            </th>
            <th>
                Fecha de entrega
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Estado
            </th>
            <th>
                Categoría
            </th>
            <th>
                Creado por
            </th>
            <th>
                Responsable
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model.Tareas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEstimadaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridades)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCreador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioAsignado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new {@class = "btn btn-outline-warning"}) |
                    @Html.ActionLink("Info", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-secondary" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }

    </table>

}